/* color scheme sourced from http://khroma.co/generator/ */
:root {
  --outer-space: #c8f7c2;
  --light-purple: #9a7eb9;
  --gin: #cbe7dc;
  --purple: #573880;
  --background-color: #aaf3cf;
     }
   
   /* Text */s
h1, h2, h3 , h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
}
p {
  font-family: 'Arial', sans-serif;
}

/* Navigation bar */
/* General */
.customNav {
  position: fixed; /*we want the nav bar to stay at the top of the page all the time */
  width: 100%;
  background: url("../Images/BD_SpringGreenBackgrondPaper.png");
  background-color: var(--background-color);
  background-size: cover;
  z-index: 10;
}
.navbar-nav {
  margin-left: auto;
  margin-right: 0 !important;
}
.navbar-brand img {
  padding-right: 15px;
  width: 65px;
}
.nav-item {
  margin: 0px 15px;
}

/* Navigation dropdown menu */
.dropdown-menu {
  background: url("../Images/florian-olivo-4hbJ-eymZ1o-unsplash.jpg");
  background-color: transparent !important;
  background-size: cover;
}
.dropdown-item:focus, .dropdown-item:hover {
    color: #0b5335;
    text-decoration: none;
    background: var(--background-color);
}

/* Navigation links */
.customNav a {
  color: var(--purple) !important;
}
.navCTA {
  font-size: 15px;
}

/* Jumbotron  */
.jumbotron {
  background-image: url(../images/02-portfolio-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh - 25px);
  /* display: flex; */
  align-items: center;
  justify-content: center;
}


/* Jumbotron copy */
.jumboCopy img {
  padding-top: 20px;
  padding-bottom: 1px;
  ;
}
.jumboCopy, .jumboCopy p {
  width: 70%;
  min-width: 600px;
  max-width: 700px;
  color: rgb(203, 240, 196);
  text-align: center;
  background-color: rgba(31, 56, 54, 0.468);
  margin:90px auto 0px auto;
}

.display-4 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1;
}
.lead {
  font-size: 1.3rem;
  font-weight: 250;
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: var(--background-color);
  background-clip: border-box;
  border: 1px solid rgba(2, 20, 20, 0.125);
  border-radius: .25rem;
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.card-body {
   flex: 1 1 auto;
  padding: 1.25rem;
}

.card-title {
  font-size: 25px;
  font-weight: 600;
}
.card-title {
  margin-bottom: 0.75rem;
}

.workProjects {
  padding: 0px 30px 30px 30px;
}

.sectionHeading {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 20px;
}

#mainGrid {
  /*   margin: 0px 0%;
    display: flex;
    min-height: 210px;
    grid-template-rows: 40% 60%;
    grid-template-columns: 40% 60%; */
    flex: 85%;
}
#parent_div{
  display: flex;
  width: 100%;
}
main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  grid-gap: 10px;
}

.flex-container {
  max-width: 127px;
}
.flex-container {
  display: flex;
  background-color: rgb(118, 205, 216);
  flex-direction: column;
}
  .flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 10px;
  font-size: 25px;
  border: 1px solid black;
}
#about {
    
  background-color: var(--gin);
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  justify-content: space-evenly;
  font-stretch: normal;
}
/* STYLES FOR TEMPLATE PLEASE DO NOT TOUCH*/
.dropdown-menu {
  left: -97px;
}
footer {
  position: absolute;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
  margin-top: 50px;
}
.cardContainer {
  margin-top: 20px;
}
.card {
  margin: 0 auto;
}
.signUp form {
  margin: 35px auto;
  background-color: #f2f2f2;
  padding: 25px;
  border-radius: 7px;
}